<ion-header>
  <ion-toolbar class="ion-padding-inline">
    <div class="header">
      <div class="logo">
        <ion-icon name="gannet-logo"></ion-icon>
        <!-- make the above as a gannet logo and on clicking that we take the user to the home -->
        @if (username == "mesadmin") {
          <span
            (dblclick)="changeAPIURL()"
            style="color: #e9f0fd; cursor: pointer"
            >...</span
          >
        }
      </div>
      <div class="actionBtns">
        @if (line) {
          <div class="line-dropdown">
            <ion-select
              label="Line"
              interface="action-sheet"
              placeholder="Select"
              cancelText="Close"
              (ionChange)="setLine($event)"
              (ionFocus)="setLine()"
            >
              @for (item of lineList; track $index) {
                <ion-select-option [value]="item">{{
                  item.line_name
                }}</ion-select-option>
              }
            </ion-select>
          </div>
        }

        <div class="iconBtn homeBtn" (click)="goToHome()">
          <ion-icon slot="start" name="home"></ion-icon>
        </div>
        <!-- language button -->
        <!-- <div class="iconBtn" (click)="changeLanguage()">
          <ion-icon name="language"></ion-icon>
        </div> -->

        <!-- profile page button -->
        <div class="iconBtn" (click)="goTo('profile')">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <!-- @if(checkoutBtn){ -->
        <!-- <div class="iconBtn checkoutBtn" (click)="canCheckin_out()">
          <ion-icon name="log-out"></ion-icon>
        </div> -->
        <!-- [color]="isCheckIn ? 'primary' : 'danger'" -->
        <!-- } -->
        <!-- @if(homeBtn){
        <div class="iconBtn homeBtn" (click)="goToHome()">
          <ion-icon slot="start" name="home"></ion-icon>
        </div>
        } -->
        <!-- @if(iconTray.length > 0){
        @for(icons of iconTray;track $index; let i = $index){
        <div class="iconBtn" (click)="iconsFunc(icons)">
          <ion-icon slot="start" [name]="icons.iconName"
            [ngStyle]="icons.color ? {'background-color': icons.color}: ''"></ion-icon>
        </div>
        }
        } -->
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<!-- no need of the modal to be in the header as it doesn't spread on the ion-content of other pages but only take up the height of the header component alone
<ion-modal
  id="rejectPanel-modal"
  [isOpen]="isModalOpen"
  backdrop-dismiss="false"
  swipe-to-close="false"
  (didDismiss)="closeModal()"
>
  <ng-template>
    <div class="check-id-container">
      <p-select
        [options]="lineList"
        [(ngModel)]="lineModel"
        optionLabel="location_name"
        (onChange)="setLine()"
        placeholder="Select Line"
      />
    </div>
  </ng-template>
</ion-modal> -->
