<ion-header>
  <ion-toolbar class="ion-padding-inline">
    <div class="header">
      <div class="logo">
          <ion-icon name="gannet-logo"></ion-icon>
        <!-- make the above as a gannet logo and on clicking that we take the user to the home -->
        @if(username == 'mesadmin'){
        <span (dblclick)="changeAPIURL()" style="color: #e9f0fd; cursor: pointer">...</span>
        }
      </div>
      <div class="actionBtns">
        <div class="iconBtn homeBtn" (click)="goToHome()">
          <ion-icon slot="start" name="home"></ion-icon>
        </div>
        <!-- language button -->
        <!-- <div class="iconBtn" (click)="canCheckin_out()">
          <ion-icon name="language"></ion-icon>
        </div> -->

        <!-- profile page button -->
        <div class="iconBtn" (click)="goTo('profile')">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <!-- @if(checkoutBtn){ -->
        <!-- <div class="iconBtn checkoutBtn" (click)="canCheckin_out()">
          <ion-icon name="log-out"></ion-icon>
        </div> -->
        <!-- [color]="isCheckIn ? 'primary' : 'danger'" -->
        <!-- } -->
        <!-- @if(homeBtn){
        <div class="iconBtn homeBtn" (click)="goToHome()">
          <ion-icon slot="start" name="home"></ion-icon>
        </div>
        } -->
        <!-- @if(iconTray.length > 0){
        @for(icons of iconTray;track $index; let i = $index){
        <div class="iconBtn" (click)="iconsFunc(icons)">
          <ion-icon slot="start" [name]="icons.iconName"
            [ngStyle]="icons.color ? {'background-color': icons.color}: ''"></ion-icon>
        </div>
        }
        } -->
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-modal id="rejectPanel-modal" [isOpen]="isModalOpen" backdrop-dismiss="false" swipe-to-close="false"
    (didDismiss)="closeModal()">
    <ng-template>
      <ion-icon slot="start" name="add" (click)="closeModal()"></ion-icon>
      <div class="check-id-container">

      </div>
    </ng-template>
  </ion-modal>
</ion-content> -->