ion-header {
  --ion-background-color: var(--ion-color-primary);

  ion-toolbar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 10px;
    font-family: "euclid-circular-b", "euclid-circular-m";
    color: #e9f0fd;

    .logo {
      height: auto;

      ion-icon {
        font-size: 80px;
        padding: 0;
        margin: 0;
        height: 30px;
      }

      // p {
      //   font-size: 20px;
      // }

      // img {
      //   width: 100px;
      //   margin: 15px 0;

      //   @media screen and (max-width: 600px) {
      //     width: 80px;
      //   }
      // }
    }

    .actionBtns {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: auto;

      .iconBtn {
        ion-icon {
          background-color: var(--ion-color-primary);
          border-radius: 100%;
          color: white;
          display: flex;
          font-size: 20px;
          justify-content: center;
          margin: 0 5px;
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 2560px) {
  ion-header {
    ion-toolbar .header {
      .logo {
        p {
          font-size: 1.3rem;
        }

        ion-icon {
          font-size: 100px;
        }
      }

      .actionBtns {

        .checkoutBtn,
        .homeBtn,
        .iconBtn {
          ion-icon {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}