<app-header [logoutBtn]="false" [headerData]="'Panel Check'" [iconTray]="assignHeaderIcons()"></app-header>
<ion-content class="ion-padding">
  <div class="filters">
    @if(isScanner){
    <div class="row">
      <div class="col-12">
        <div class="sizeScan-input">
          <ion-input #laySlipInput class="inp-size" (dblClick)="barcodeData = 'PDK-329'" placeholder="SCAN LAY SLIP"
            inputmode="none" [ngClass]="lInpF ? 'inputFocus' : 'inputNotFocus'" (ionFocus)="setFocus()"
            (ionInput)="onLaySlipInput($event)" (ionBlur)="lInpF = false" [(ngModel)]="barcodeData"
            type="text"></ion-input>
        </div>
      </div>
    </div>
    }
    @if(!isScanner){
    <div class="row-content">
      <div class="col">
        <div class="form-grid">
          <div class="form-field">
            <p-floatlabel variant="on">
              <p-select class="large-text" [disabled]="!seasonList.length || panelBarcode" [options]="seasonList"
                [(ngModel)]="seasonModel" [filter]="true" inputId="Season" filterBy="season_name" [checkmark]="true"
                (onChange)="clearbelowAttrbutes(1)" optionLabel="season_name" size="large"></p-select>
              <label for="Season">Season</label>
            </p-floatlabel>
          </div>

          <div class="form-field">
            <p-floatlabel variant="on">
              <p-select class="large-text" [disabled]="!customerList.length || panelBarcode" [options]="customerList"
                [(ngModel)]="customerModel" [filter]="true" inputId="Customer" filterBy="customer_short_name"
                [checkmark]="true" (onChange)="clearbelowAttrbutes(2)" optionLabel="customer_short_name"
                size="large"></p-select>
              <label for="Customer">Customer</label>
            </p-floatlabel>
          </div>

          <div class="form-field">
            <p-floatlabel variant="on">
              <p-select class="large-text" [disabled]="!orderList.length || panelBarcode" [options]="orderList"
                [(ngModel)]="orderModel" [filter]="true" inputId="Order" filterBy="order_name" [checkmark]="true"
                (onChange)="clearbelowAttrbutes(3)" optionLabel="order_name" size="large"></p-select>
              <label for="Order">Order</label>
            </p-floatlabel>
          </div>

          <div class="form-field">
            <p-floatlabel variant="on">
              <p-select class="large-text" [disabled]="!colorList.length || panelBarcode" [options]="colorList"
                [(ngModel)]="colorModel" [filter]="true" inputId="Color" filterBy="color_name" [checkmark]="true"
                optionLabel="color_name" size="large"></p-select>
              <label for="Color">Color</label>
            </p-floatlabel>
          </div>
        </div>
      </div>
    </div>
    }

    <!-- Start Panel Check Button -->
    <div class="row-btn">
      <div class="col">
        <ion-button (click)="addPcsPage()" [disabled]="!colorModel" expand="block" color="primary">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Start panel check
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>