ion-grid.filters {
  ion-row {
    ion-col {
      .form-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
      .form-field {
        flex: 1 1 100%; // 2 per row
        min-width: 250px;
      }
    }
  }

  ion-row {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 2560px) {
  .form-field {
    flex: 1 1 calc(50% - 1rem) !important; // 3 per row (desktop)
    // flex: 1 1 calc(33.333% - 1rem); // 3 per row (desktop)
    --p-select-font-size: 20px;

    p-floatlabel {
      label {
        font-size: 25px;
      }
      p-select {
        height: 100px;
        font-size: 20px;
        padding: 10px;
        display: flex;
        align-items: center;

        .large-text .p-select-label {
          font-size: 18px; // selected value inside box
        }

        .large-text .p-select-item {
          font-size: 18px; // dropdown options
        }

        .large-text .p-select-filter {
          font-size: 16px; // filter input text
        }
      }
    }
  }
}
