<app-header [iconTray]="assignMapPageHeaderIcons()"></app-header>
<ion-content>
  <ion-tabs (ionTabsDidChange)="tabChange($event)">
    <!--Qr Mapping page -->
    <ion-tab tab="size-map">
      <!-- check this out a little -->
      <ion-content class="ion-padding">
        <ion-segment
          value="map"
          mode="ios"
          [swipeGesture]="false"
          (ionChange)="segmentChanged($event)"
        >
          <ion-segment-button value="map" content-id="map">
            <ion-label>Map</ion-label>
          </ion-segment-button>
          <ion-segment-button value="generate" content-id="generate">
            <ion-label>Generate</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-segment-view scrollable="false">
          <ion-segment-content id="map">
            <div class="filters">
              <div class="row-content">
                <div class="col">
                  <div class="form-grid">
                    <div class="form-field">
                      <p-floatlabel variant="on">
                        <p-select
                          class="large-text"
                          [disabled]="!seasonList.length"
                          [options]="seasonList"
                          [(ngModel)]="seasonModel"
                          [filter]="true"
                          inputId="Season"
                          filterBy="season_name"
                          [checkmark]="true"
                          (onChange)="clearbelowAttrbutes(1)"
                          optionLabel="season_name"
                        ></p-select>
                        <label for="Season">Season</label>
                      </p-floatlabel>
                    </div>

                    <div class="form-field">
                      <p-floatlabel variant="on">
                        <p-select
                          class="large-text"
                          [disabled]="!customerList.length"
                          [options]="customerList"
                          [(ngModel)]="customerModel"
                          [filter]="true"
                          inputId="Customer"
                          filterBy="customer_short_name"
                          [checkmark]="true"
                          (onChange)="clearbelowAttrbutes(3)"
                          (click)="actionType = 'M'"
                          optionLabel="customer_short_name"
                        ></p-select>
                        <label for="Customer">Customer</label>
                      </p-floatlabel>
                    </div>

                    <div class="form-field">
                      <p-floatlabel variant="on">
                        <p-select
                          class="large-text"
                          [disabled]="!orderList.length"
                          [options]="orderList"
                          [(ngModel)]="orderModel"
                          [filter]="true"
                          inputId="Order"
                          filterBy="order_name"
                          [checkmark]="true"
                          (onChange)="clearbelowAttrbutes(2)"
                          optionLabel="order_name"
                        ></p-select>
                        <label for="Order">Order</label>
                      </p-floatlabel>
                    </div>

                    <div class="form-field">
                      <p-floatlabel variant="on">
                        <p-select
                          class="large-text"
                          [disabled]="!lineList.length"
                          [options]="lineList"
                          [(ngModel)]="lineModel"
                          [filter]="true"
                          inputId="Line"
                          filterBy="line_seq_num"
                          [checkmark]="true"
                          (onChange)="clearbelowAttrbutes(5)"
                          (click)="actionType = 'M'"
                          optionLabel="line_name"
                        ></p-select>
                        <label for="Line">Line Details</label>
                      </p-floatlabel>
                    </div>

                    <div class="form-field">
                      <p-floatlabel variant="on">
                        <p-select
                          class="large-text"
                          [disabled]="!colorList.length"
                          [options]="colorList"
                          [(ngModel)]="colorModel"
                          [filter]="true"
                          inputId="Color"
                          filterBy="color_name"
                          [checkmark]="true"
                          optionLabel="color_name"
                        ></p-select>
                        <label for="Color">Color</label>
                      </p-floatlabel>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row-btn">
                <ion-button
                  [disabled]="!colorList.length"
                  (click)="barcodeAction('map')"
                  expand="block"
                  color="primary"
                >
                  <ion-icon slot="start" name="scan-outline"></ion-icon>
                  Map
                </ion-button>
              </div>
            </div>
          </ion-segment-content>
          <ion-segment-content id="generate">
            <div class="filters">
              <div class="row-content">
                <div class="col">
                  <div class="form-grid">
                    <div class="form-field">
                      <p-floatlabel variant="on">
                        <p-select
                          class="large-text"
                          [disabled]="!seasonList.length"
                          [options]="seasonList"
                          [(ngModel)]="seasonModel"
                          [filter]="true"
                          inputId="Season"
                          filterBy="season_name"
                          [checkmark]="true"
                          (onChange)="clearbelowAttrbutes(1)"
                          optionLabel="season_name"
                        ></p-select>
                        <label for="Season">Season</label>
                      </p-floatlabel>
                    </div>

                    <div class="form-field">
                      <p-floatlabel variant="on">
                        <p-select
                          class="large-text"
                          [disabled]="!customerList.length"
                          [options]="customerList"
                          [(ngModel)]="customerModel"
                          [filter]="true"
                          inputId="Customer"
                          filterBy="customer_short_name"
                          [checkmark]="true"
                          (onChange)="clearbelowAttrbutes(2)"
                          (click)="actionType = 'G'"
                          optionLabel="customer_short_name"
                        ></p-select>
                        <label for="Customer">Customer</label>
                      </p-floatlabel>
                    </div>

                    <div class="form-field">
                      <p-floatlabel variant="on">
                        <p-select
                          class="large-text"
                          [disabled]="!orderList.length"
                          [options]="orderList"
                          [(ngModel)]="orderModel"
                          [filter]="true"
                          inputId="Order"
                          filterBy="order_name"
                          [checkmark]="true"
                          (onChange)="clearbelowAttrbutes(2)"
                          optionLabel="order_name"
                        ></p-select>
                        <label for="Order">Order</label>
                      </p-floatlabel>
                    </div>

                    <div class="form-field">
                      <p-floatlabel variant="on">
                        <p-select
                          class="large-text"
                          [disabled]="!lineList.length"
                          [options]="lineList"
                          [(ngModel)]="lineModel"
                          [filter]="true"
                          inputId="Line"
                          filterBy="line_seq_num"
                          [checkmark]="true"
                          (click)="actionType = 'G'"
                          optionLabel="line_name"
                        ></p-select>
                        <label for="Line">Line Details</label>
                      </p-floatlabel>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row-btn">
                <ion-button
                  [disabled]="!orderList.length"
                  (click)="barcodeAction('generate')"
                  expand="block"
                  color="primary"
                >
                  <ion-icon slot="start" name="scan-outline"></ion-icon>
                  {{orderModel.barcode_type == "G" ? 'View Barcode' :
                  'Generate'}}
                </ion-button>
              </div>
            </div>
          </ion-segment-content>
        </ion-segment-view>
      </ion-content>
    </ion-tab>

    <!-- Add polypack page -->
    <!--  -->
    <ion-tab tab="add-polypack">
      <!-- <app-header [logoutBtn]="false" [iconTray]="assignAddPolyPageHeaderIcons()"
      [headerData]="'Add Poly Pack'"></app-header> -->
      <ion-content class="ion-padding">
        <div class="filters">
          @if(deviceType == 'tab' && isScanner){
          <div class="form-grid">
            <div class="form-field">
              <div class="sizeScan-input">
                <ion-input
                  #sizeInput
                  class="inp-size"
                  placeholder="SCAN SIZE TAG"
                  inputmode="none"
                  [ngClass]="sInpF ? 'inputFocus' : 'inputNotFocus'"
                  (ionFocus)="setFocus()"
                  (ionInput)="onSizeInput($event)"
                  (ionBlur)="sInpF = false"
                  [(ngModel)]="barcodeData"
                  type="text"
                >
                </ion-input>
              </div>
            </div>
          </div>
          } @if(!isScanner || sizeBarcode) {

          <div class="row-content">
            <div class="col">
              <div class="form-grid">
                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!seasonList.length || sizeBarcode"
                      [options]="seasonList"
                      [(ngModel)]="seasonModel"
                      [filter]="true"
                      inputId="Season"
                      filterBy="season_name"
                      [checkmark]="true"
                      (onChange)="clearbelowAttrbutes(1)"
                      optionLabel="season_name"
                    ></p-select>
                    <label for="Season">Season</label>
                  </p-floatlabel>
                </div>

                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!customerList.length || sizeBarcode"
                      [options]="customerList"
                      [(ngModel)]="customerModel"
                      (onChange)="clearbelowAttrbutes(3)"
                      [filter]="true"
                      inputId="Customer"
                      filterBy="customer_short_name"
                      [checkmark]="true"
                      optionLabel="customer_short_name"
                    ></p-select>
                    <label for="Customer">Customer</label>
                  </p-floatlabel>
                </div>
                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!orderList.length || sizeBarcode"
                      [options]="orderList"
                      [(ngModel)]="orderModel"
                      [filter]="true"
                      inputId="Order"
                      filterBy="order_name"
                      [checkmark]="true"
                      (onChange)="clearbelowAttrbutes(2)"
                      optionLabel="order_name"
                    ></p-select>
                    <label for="Order">Order</label>
                  </p-floatlabel>
                </div>

                @if(lineList.length > 0 && !isScanner){
                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!lineList.length || sizeBarcode"
                      [options]="lineList"
                      [(ngModel)]="lineModel"
                      (onChange)="clearbelowAttrbutes(4);clearbelowAttrbutes(5)"
                      [filter]="true"
                      inputId="Line"
                      filterBy="line_seq_num"
                      [checkmark]="true"
                      optionLabel="line_name"
                    ></p-select>
                    <label for="Line">Line Details</label>
                  </p-floatlabel>
                </div>
                }
                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!orderList.length || sizeBarcode"
                      [options]="orderList"
                      [(ngModel)]="orderModel"
                      [filter]="true"
                      inputId="Order"
                      filterBy="order_name"
                      [checkmark]="true"
                      (onChange)="clearbelowAttrbutes(2)"
                      optionLabel="order_name"
                    ></p-select>
                    <label for="Order">Order</label>
                  </p-floatlabel>
                </div>

                @if(poList.length > 0 && !isScanner){
                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!poList.length || sizeBarcode"
                      [options]="poList"
                      [(ngModel)]="poModel"
                      [filter]="true"
                      inputId="PO"
                      filterBy="order_ponumber"
                      [checkmark]="true"
                      (onChange)="clearbelowAttrbutes(5)"
                      optionLabel="order_ponumber"
                    ></p-select>
                    <label for="PO">PO</label>
                  </p-floatlabel>
                </div>
                }

                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!colorList.length || sizeBarcode"
                      [options]="colorList"
                      [(ngModel)]="colorModel"
                      [filter]="true"
                      inputId="Color"
                      filterBy="color_name"
                      [checkmark]="true"
                      optionLabel="color_name"
                    ></p-select>
                    <label for="Color">Color</label>
                  </p-floatlabel>
                </div>

                @if(poList.length > 0 && isScanner){
                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!lineList.length "
                      [options]="lineList"
                      [(ngModel)]="lineModel"
                      (onChange)="clearbelowAttrbutes(4)"
                      [filter]="true"
                      inputId="Line"
                      filterBy="line_seq_num"
                      [checkmark]="true"
                      optionLabel="line_name"
                    ></p-select>
                    <label for="Line">Line Details</label>
                  </p-floatlabel>
                </div>
                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!poList.length > 0 && poF"
                      [options]="poList"
                      [(ngModel)]="poModel"
                      [filter]="true"
                      inputId="POScanner"
                      filterBy="order_ponumber"
                      [checkmark]="true"
                      optionLabel="order_ponumber"
                    ></p-select>
                    <label for="POScanner">PO</label>
                  </p-floatlabel>
                </div>
                }
              </div>
            </div>
          </div>

          <div class="row-btn">
            <ion-button
              (click)="addQuantityPage('add')"
              [disabled]="!colorModel"
              expand="block"
              color="primary"
            >
              <ion-icon slot="start" name="add-circle"></ion-icon>
              Add Quantity
            </ion-button>
          </div>

          }
        </div>
      </ion-content>
    </ion-tab>

    <!-- Map order based qty page -->
    <ion-tab tab="mappo-polypack">
      <!-- <app-header [logoutBtn]="false" [headerData]="'Map PO'"></app-header> -->
      <ion-content class="ion-padding">
        <div class="filters">
          <div class="row-content">
            <div class="col">
              <div class="form-grid">
                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!seasonList.length"
                      [options]="seasonList"
                      [(ngModel)]="seasonModel"
                      [filter]="true"
                      inputId="Season"
                      filterBy="season_name"
                      [checkmark]="true"
                      (onChange)="clearbelowAttrbutes(1)"
                      optionLabel="season_name"
                    ></p-select>
                    <label for="Season">Season</label>
                  </p-floatlabel>
                </div>

                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!customerList.length"
                      [options]="customerList"
                      [(ngModel)]="customerModel"
                      [filter]="true"
                      inputId="Customer"
                      filterBy="customer_short_name"
                      [checkmark]="true"
                      (onChange)="clearbelowAttrbutes(3)"
                      optionLabel="customer_short_name"
                    ></p-select>
                    <label for="Customer">Customer</label>
                  </p-floatlabel>
                </div>

                <!-- assignment doesn't need it -->
                <!-- <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!lineList.length || sizeBarcode"
                      [options]="lineList"
                      [(ngModel)]="lineModel"
                      (onChange)="clearbelowAttrbutes(3)"
                      [filter]="true"
                      inputId="Line"
                      filterBy="line_seq_num"
                      [checkmark]="true"
                      optionLabel="line_name"
                    ></p-select>
                    <label for="Line">Line Details</label>
                  </p-floatlabel>
                </div> -->

                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!orderList.length"
                      [options]="orderList"
                      [(ngModel)]="orderModel"
                      [filter]="true"
                      inputId="Order"
                      (onChange)="clearbelowAttrbutes(4);clearbelowAttrbutes(5)"
                      filterBy="order_name"
                      [checkmark]="true"
                      optionLabel="order_name"
                    ></p-select>
                    <label for="Order">Order</label>
                  </p-floatlabel>
                </div>

                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!colorList.length || !poList.length"
                      [options]="colorList"
                      [(ngModel)]="colorModel"
                      [filter]="true"
                      inputId="Color"
                      filterBy="color_name"
                      [checkmark]="true"
                      optionLabel="color_name"
                    ></p-select>
                    <label for="Color">Color</label>
                  </p-floatlabel>
                </div>
              </div>
            </div>
          </div>

          <div class="row-btn">
            <ion-button
              (click)="poMapQuantityPage()"
              [disabled]="!orderModel || !poList.length"
              expand="block"
              color="primary"
            >
              <ion-icon slot="start" name="receipt-outline"></ion-icon>
              Assign PO
            </ion-button>
          </div>
        </div>
      </ion-content>
    </ion-tab>

    <!-- List polypack page -->
    <ion-tab tab="list-polypack">
      <!-- <app-header [logoutBtn]="false" [headerData]="'Poly Pack List'"></app-header> -->
      <ion-content class="ion-padding">
        <div class="filters">
          <div class="row-content">
            <div class="col">
              <div class="form-grid">
                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!seasonList.length"
                      [options]="seasonList"
                      [(ngModel)]="seasonModel"
                      [filter]="true"
                      inputId="Season"
                      filterBy="season_name"
                      [checkmark]="true"
                      (onChange)="clearbelowAttrbutes(1)"
                      optionLabel="season_name"
                    ></p-select>
                    <label for="Season">Season</label>
                  </p-floatlabel>
                </div>

                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!customerList.length"
                      [options]="customerList"
                      [(ngModel)]="customerModel"
                      [filter]="true"
                      inputId="Customer"
                      filterBy="customer_short_name"
                      [checkmark]="true"
                      (onChange)="clearbelowAttrbutes(2)"
                      optionLabel="customer_short_name"
                    ></p-select>
                    <label for="Customer">Customer</label>
                  </p-floatlabel>
                </div>

                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!lineList.length || sizeBarcode"
                      [options]="lineList"
                      [(ngModel)]="lineModel"
                      (onChange)="clearbelowAttrbutes(3)"
                      [filter]="true"
                      inputId="Line"
                      filterBy="line_seq_num"
                      [checkmark]="true"
                      optionLabel="line_name"
                    ></p-select>
                    <label for="Line">Line Details</label>
                  </p-floatlabel>
                </div>

                <div class="form-field">
                  <p-floatlabel variant="on">
                    <p-select
                      class="large-text"
                      [disabled]="!orderList.length"
                      [options]="orderList"
                      [(ngModel)]="orderModel"
                      [filter]="true"
                      inputId="Order"
                      filterBy="order_name"
                      [checkmark]="true"
                      optionLabel="order_name"
                    ></p-select>
                    <label for="Order">Order</label>
                  </p-floatlabel>
                </div>
              </div>
            </div>
          </div>

          <div class="row-btn">
            <ion-button
              (click)="listQuantityPage()"
              [disabled]="!orderModel"
              expand="block"
              color="primary"
            >
              <ion-icon slot="start" name="search"></ion-icon>
              Search
            </ion-button>
          </div>
        </div>
      </ion-content>
    </ion-tab>
    <!-- <ion-button color="primary" (click)="scanCode()">Click</ion-button>
  <h1>{{barcodeData}}</h1> -->

    <ion-tab-bar
      [selectedTab]="'add-polypack'"
      slot="bottom"
      style="--background: #e9f0fd"
    >
      <ion-tab-button tab="size-map">
        <ion-icon name="scan-outline"></ion-icon>
        <ion-label>Size Mapping</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="add-polypack">
        <ion-icon name="bag-add-outline"></ion-icon>
        <ion-label>Add Poly Pack</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mappo-polypack">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Assign PO</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="list-polypack">
        <ion-icon name="library-outline"></ion-icon>
        <ion-label>Poly Pack List</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
