<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="nav-header">
      <ion-buttons slot="start">
        <ion-button
          shape="round"
          icon="arrow-back-outline"
          class="ion-no-padding"
          (click)="goBack()"
        >
          <ion-icon
            slot="start"
            style="color: white"
            name="arrow-back-outline"
          ></ion-icon>
        </ion-button>
        <ion-title class="ion-no-padding back-title">Back</ion-title>
      </ion-buttons>
      <div>
        <h1 class="page-name">{{'Profile' | uppercase}}</h1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-page">
  <!-- Profile Section -->
  <div class="profile-container">
    <img src="assets/profile.jpg" class="profile-img" />

    <div class="profile-details">
      <ion-item lines="none">
        <ion-label>
          <p>Username</p>
          <h2>{{username}}</h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <p>Role</p>
          <h2>{{userData?.role || 'role'}}</h2>
        </ion-label>
      </ion-item>
    </div>
  </div>

  <!-- Buttons -->
  <div class="profile-buttons">
    <!-- <ion-button expand="block" color="warning" (click)="checkout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Checkout
    </ion-button> -->
    <ion-button
      expand="block"
      [color]="rfid.operator ? 'warning' : 'danger'"
      (click)="canLogout()"
    >
      <!-- (click)="rfid.operator ? logout('checkout') : canLogout()" -->
      <ion-icon name="exit-outline" slot="start"></ion-icon>
      {{'Logout'}}
      <!-- {{rfid.operator ? 'Checkout' : 'Logout'}} -->
    </ion-button>
  </div>
</ion-content>
